In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [4]:
import fighters_cleanser
import constants

In [5]:
fights = fighters_cleanser.load_cleanse_and_merge(constants.DEFAULT_FIGHTERS_FILE_NAME, constants.DEFAULT_FIGHTS_FILE_NAME)
fights.shape

(4393, 136)

In [6]:
fights.head()

,r_fighter,b_fighter,r_kd,b_kd,r_sig_str,b_sig_str,r_sig_str_pct,b_sig_str_pct,r_total_str,b_total_str,...,b_weight,b_reach,b_stance,b_dob,r_age,b_age,age_diff,height_diff,weight_diff,reach_diff
0,Henry Cejudo,Marlon Moraes,0,0,90 of 171,57 of 119,52,47,99 of 182,59 of 121,...,135,67,Orthodox,1988-04-26,32.347945,31.136986,1.210959,-2,0,-3
1,Jimmie Rivera,Marlon Moraes,0,1,0 of 3,7 of 9,0,77,0 of 3,7 of 9,...,135,67,Orthodox,1988-04-26,28.942466,30.117808,-1.175342,-2,0,1
2,John Dodson,Marlon Moraes,1,0,43 of 105,45 of 131,40,34,47 of 109,45 of 131,...,135,67,Orthodox,1988-04-26,33.147945,29.564384,3.583562,-3,0,-1
3,Raphael Assuncao,Marlon Moraes,0,1,2 of 12,10 of 23,16,43,3 of 13,12 of 25,...,135,67,Orthodox,1988-04-26,36.567123,30.791781,5.775342,-1,0,-1
4,Raphael Assuncao,Marlon Moraes,0,0,43 of 134,44 of 150,32,29,43 of 134,44 of 150,...,135,67,Orthodox,1988-04-26,34.898630,29.123288,5.775342,-1,0,-1

In [9]:
fights = fighters_cleanser.add_fictitious_records(fights)

In [10]:
columns_to_use = ['r_fighter','b_fighter','r_prior_wins', 'r_prior_losses', 'r_prior_ties', 'b_prior_wins', 'b_prior_losses', 'b_prior_ties', 'winner', 'loser', 'r_b_winner']
fights = fights[columns_to_use]
fights.head()

,r_fighter,b_fighter,r_prior_wins,r_prior_losses,r_prior_ties,b_prior_wins,b_prior_losses,b_prior_ties,winner,loser,r_b_winner
0,Henry Cejudo,Marlon Moraes,12,6,0,8,5,0,Henry Cejudo,Marlon Moraes,r
1,Jimmie Rivera,Marlon Moraes,9,4,0,6,5,0,Marlon Moraes,Jimmie Rivera,b
2,John Dodson,Marlon Moraes,12,7,0,4,5,0,Marlon Moraes,John Dodson,b
3,Raphael Assuncao,Marlon Moraes,15,6,0,7,5,0,Marlon Moraes,Raphael Assuncao,b
4,Raphael Assuncao,Marlon Moraes,12,6,0,4,4,0,Raphael Assuncao,Marlon Moraes,r

In [11]:
fights.head()

,r_fighter,b_fighter,r_prior_wins,r_prior_losses,r_prior_ties,b_prior_wins,b_prior_losses,b_prior_ties,winner,loser,r_b_winner
0,Henry Cejudo,Marlon Moraes,12,6,0,8,5,0,Henry Cejudo,Marlon Moraes,r
1,Jimmie Rivera,Marlon Moraes,9,4,0,6,5,0,Marlon Moraes,Jimmie Rivera,b
2,John Dodson,Marlon Moraes,12,7,0,4,5,0,Marlon Moraes,John Dodson,b
3,Raphael Assuncao,Marlon Moraes,15,6,0,7,5,0,Marlon Moraes,Raphael Assuncao,b
4,Raphael Assuncao,Marlon Moraes,12,6,0,4,4,0,Raphael Assuncao,Marlon Moraes,r